/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background: #f0f5f1;
  color: #333333;
  padding: 80px;
}

/* Cabeçalho com imagem */
.imagem-cabeçalho {
  background: url('img/park-ao-lado-da-cidade-ao-amanhecer.jpg') no-repeat center center;
  background-size: cover;
  padding: 30px;
  text-align: center;
  color: white;
  position: relative;
  border-radius: 30px;
  margin-bottom: 80px;
}

.imagem-cabeçalho.imagem-cab2 {
  background: url('img/comunidade.jpg') no-repeat center center;
  background-size: cover;
  padding: 30px; 
  text-align: center;
  color: white;
  position: relative;
  border-radius: 30px;
  margin-bottom: 80px;
}

.imagem-cabeçalho.imagem-cab3 {
  background: url('img/horta-comunitaria.jpg') no-repeat center center;
  background-size: cover;
  padding: 30px; 
  text-align: center;
  color: white;
  position: relative;
  border-radius: 30px;
  margin-bottom: 80px;
}

.imagem-cabeçalho.imagem-cab4 {
  background: url('img/moinhos.jpg')no-repeat center center;
  background-size: cover;
  padding: 30px; 
  text-align: center;
  color: white;
  position: relative;
  border-radius: 30px;
  margin-bottom: 80px;
}

.imagem-cabeçalho.imagem-cab5 {
  background: url('img/moinhos.jpg')no-repeat center center;
  background-size: cover;
  padding: 30px; 
  text-align: center;
  color: white;
  position: relative;
  border-radius: 30px;
  margin-bottom: 80px;
}

.imagem-cabeçalho::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* escurece o fundo */
  z-index: 1;
  pointer-events: none;
  border-radius: 30px;
}

.imagem-cabeçalho h1 {
  position: relative;
  z-index: 2;
}

.imagem-cabeçalho .acessibilidade {
  position: relative;
  z-index: 2;
}

/* Cabeçalho com degradê verde */
.cabeçalho {
  background: linear-gradient(90deg, #4caf50, #2e7d32);
  padding: 30px;
  border-radius: 30px;
  text-align: center;
  margin-bottom: 80px;
  color: white;
}

.cabeçalho h1 {
  font-size: 3em;
  margin-bottom: 30px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #c8e6c9;
}

/* Seções com cores diferentes */
section {
  padding: 30px;
  margin-bottom: 100px;
  border-radius: 30px;
}

#sobre, #metodologia, #resultados, #colaboradores{
  background: #fff;
}

#objetivo, #comunidade, #galeria-imagens, #contato {
  background: #f9f9f9e5;
}

section h2 {
  color: #2d572c;
  font-size: 1.9em;
  margin-bottom: 30px;
  text-align: left;
  padding-left: 30px;
}

section p {
  font-size: 1.25em;
  text-align: left;
}

section img {
  margin-bottom: 50px;
}

.imagem-texto {
  display: flex;
  align-items: center;  
  gap: 70px;      
  padding: 35px;      
}

.imagem-texto img {
  width: 30%;         
  border-radius: 30px;
  transition: 0.3s ease;
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2); 
}

.imagem-texto img:hover {
  transform: scale(1.05);
}

.imagem-texto p {
  flex: 1;              
}

.texto {
  display: flex;
  flex-direction: column; 
  gap: 20px;              
  padding: 35px;
}

.texto ul {
  flex: 1;
  font-size: 1.25em;
  text-align: left;
  padding: 25px;
}

.texto h3 {
  color: #274d27;
  font-size: 1.3em;
  text-align: left;
}

.email {
  display: flex;  
  gap: 20px;
}

.email img {
  width: 1.457em;         
  margin-top: 3px;
  transition: 0.3s ease;  
}

.email img:hover {
  background-color: #a4b9a5;
  transform: scale(1.05);
}

.email p {
  flex: 1;
  text-align: left;
  color: #2d572c;
}

/* Rodapé branco */
footer {
  background: #fff;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
  margin-top: 30px;
  color: #333;
}

/* Efeito quando passar o mouse */
.botao-pagina {
  display: inline-block;
  padding: 8px 20px;
  margin-left: 35px;
  background-color: #497948;
  color: white;
  font-size: 1em;
  text-decoration: none;
  border-radius: 30px;
  transition: 0.3s ease;
}

.botao-pagina:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

:focus {
  outline: 3px solid #216624; 
  outline-offset: 3px;
}

.acessibilidade {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

/* Botões acessibilidade */
.acessibilidade button {
  padding: 10px 15px;
  font-size: 1em;
  background: #18441a5d;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

.acessibilidade button:hover {
  background: #388e3c;
  transform: scale(1.05);
}

/* Modo Alto Contraste */
.alto-contraste {
  background: #000 !important;
  color: #fff !important;
}

.alto-contraste .cabeçalho {
  background: #111 !important;
  color: #ff0 !important;
}

.alto-contraste nav a {
  color: #ff0 !important;
}

.alto-contraste nav a:hover {
  color: rgba(255, 255, 0, 0.514) !important; 
}

.alto-contraste h3 {
  color: #ff0 !important;
}

.alto-contraste h2 {
  color: #ff0 !important;
}
.alto-contraste section {
  background: #111 !important;
  color: #fff !important;
}

.alto-contraste footer {
  background: #000 !important;
  color: #fff !important;
}

.alto-contraste .acessibilidade button {
  background: #ff0 !important;
  color: #000 !important;
}

.alto-contraste .email img {
  color: #000 !important; 
  background: #fff !important;
}

.alto-contraste .email p {
  color: #fff !important; 
}

.alto-contraste .botao-pagina {
  background: #ff0 !important;
  color: #000 !important;
}

.alto-contraste .imagem-cabeçalho h1 {
  color: #ff0 !important;
}

.alto-contraste .botao-pagina:hover {
  background-color: rgba(255, 255, 0, 0.514) !important;
}

.alto-contraste :focus {
  outline: 3px solid #ff0; 
  outline-offset: 3px;
}

#galeria-imagens {
  display: flex;
  justify-content: center;
  flex-direction: column; 
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 30px;
}

#galeria-imagens h2 {
  margin-bottom: 30px;
  text-align: center;     
  width: auto;
  padding-left: 0;
}

#galeria-imagens .imagens {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

#galeria-imagens img {
  max-width: 100%;
  width: 250px;
  height: auto;
  border-radius: 30px;
  object-fit: cover;
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

#galeria-imagens img:hover {
  transform: scale(1.05);
}

#colaboradores h2 {
  color: #2d572c;
  margin-bottom: 1.5rem;
  font-size: 1.9rem;
  text-align: center;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.team-member {
  text-align: center;
  transition: transform 0.3s ease;
  position: relative;
}

.team-member:hover {
  transform: translateY(-5px);
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto 1rem;
  object-fit: cover;
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease, border-color 0.5s ease;
}

.team-member:hover img {
  transform: scale(1.1) rotate(5deg);
  border-color: var(--color-accent);
}

.about-team .team-members .team-member:first-child img {
  transform: rotate(90deg);
}

.about-team .team-members .team-member:first-child:hover img {
  transform: rotate(90deg) scale(1.1);
}

.team-member h3 {
  color: #2d572c;
  margin-bottom: 0.25rem;
  font-size: 1.1rem;
  text-align: center;
}

.team-member p {
  color: #383838;
  font-size: 1rem;
  text-align: center;
}

/* Ajustes para telas menores */
@media (max-width: 1024px) {

  body {
    padding: 20px; 
  }

  header h1 {
    font-size: 2em; 
  }

  nav ul {
    flex-direction: column; 
    gap: 20px;
  }

  .imagem-texto {
    flex-direction: column; 
  }

  .imagem-texto img {
    width: 60%;
  }

  .email p {
    word-break: break-word;     
    overflow-wrap: break-word;
  }

  section h2 {
    font-size: 1.6em; 
  }

  section p {
    font-size: 1.2em; 
  }

  .imagens {
    width: 78%;
    height: auto;
    object-fit: cover;
  }
  .texto ul {
    font-size: 1.2em;
  }

  #galeria-imagens h2 {
    font-size: 1.6em;
  }
  
  .team-member {
    margin-bottom: 2.5rem; 
  }

  .team-member h3 {
    font-size: 1.3rem; 
  }

  .team-member p {
    font-size: 1.1rem; 
  }

  .acessibilidade {
    flex-direction: column; 
    gap: 10px;
  }
}

@media (max-width: 600px) {

  body {
    padding: 20px; 
  }

  header h1 {
    font-size: 2em; 
  }

  nav ul {
    flex-direction: column; 
    gap: 20px;
  }

  .imagem-texto {
    flex-direction: column; 
  }

  .imagem-texto img {
    width: 100%;
  }

  .email p {
    word-break: break-word;     
    overflow-wrap: break-word;
  }

  section h2 {
    font-size: 1.6em; 
  }

  section p {
    font-size: 1.2em; 
  }

  .imagens {
    width: 80%;
    height: auto;
    object-fit: cover;
  }
  
  .texto ul {
    font-size: 1.2em;
  }

  #galeria-imagens h2 {
    font-size: 1.6em;
  }
  
  .team-member {
    margin-bottom: 2.5rem; 
  }

  .team-member h3 {
    font-size: 1.3rem; 
  }

  .team-member p {
    font-size: 1.1rem; 
  }

  .acessibilidade {
    flex-direction: column; 
    gap: 10px;
  }
}
